<div ng-hide="authenticating" layout="row" layout-align="center center">
  <md-card flex="100" flex-gt-md="70" flex-gt-lg="50" ng-hide="hideForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Login</span>
        </h2>
      </div>
    </md-toolbar>
    <md-card-content layout="column">
      <form name="userForm" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required" ng-submit="login(userForm)">
        <div layout="column" layout-sm="column">
          <md-input-container class="md-input-invalid" flex>
            <label>Username(email)</label>
            <input type="text" ng-model="userForm.email" required="true">
          </md-input-container>
          <md-input-container flex>
            <label>Password</label>
            <input type="password" ng-model="userForm.password" required="true">
          </md-input-container>
        </div>
        <div layout="row" layout-align="start center">
          <div layout="column">
            <md-input-container>
              <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                Remember Me
              </md-checkbox>
            </md-input-container>
          </div>
          <div layout="column">
            <a class="md-primary md-button no-hover md-ink-ripple" ui-sref="forgot">Forgot password?</a>
          </div>
        </div>
        <div class="fit-to-checkbox" layout="column" layout-gt-sm="row" layout-align="space-between center">
          <a class="md-primary md-button no-hover md-ink-ripple" ui-sref="register">Don't have an account? Create one now</a>
          <md-button flex-sm="100" flex-order-sm="1" type="submit" class="md-raised md-primary" ng-disabled="login.$invalid">Log in</md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
