<!DOCTYPE html>
<html lang="en">

<head>
  <title>Epro Login</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel="stylesheet" href="./lib/angular-material/angular-material.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <style type="text/css">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
</head>

<body ng-app="epro" ng-controller="homeController" layout="row" ng-cloak>
  <div class="layout-column" flex="">
    <md-toolbar id="main-toolbar" layout="row" layout-align="end end">
      <div class="md-toolbar-tools md-whiteframe-z1" layout="row" layout-align="end end">
        <md-button class="menu" hide-gt-md ng-click="openMenu()" aria-label="Show Menu">
         Menu
        </md-button>
          <md-menu md-offset="0 80" ng-show="isAuthenticated" style="min-width:80px;">
            <md-button aria-label="Open profile menu" class="md-primary" ng-click="$mdOpenMenu($event)">
              Profile
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button ng-click="logout()"><span md-menu-align-target>Logout</span></md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button><span md-menu-align-target>Help</span></md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
      </div>
    </md-toolbar>


    <div id="content-wrapper" class="layout-column md-padding">
      <div class="md-padding" ui-view flex>
    </div>

  <script src="./lib/angular/angular.js"></script>
  <script src="./lib/angular-animate/angular-animate.js"></script>
  <script src="./lib/angular-aria/angular-aria.js"></script>
  <script src="./lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="./lib/angular-material-icons/angular-material-icons.min.js"></script>
  <script src="./lib/restangular/dist/restangular.min.js"></script>
  <script src="./lib/underscore/underscore-min.js"></script>
  <script src="./lib/angular-material/angular-material.js"></script>

  <script src="./js/services/services.js"></script>
  <script src="./js/services/general/clientCacheService.js"></script>
  <script src="./js/services/general/localStorageService.js"></script>
  <script src="./js/services/general/authenticationService.js"></script>

  <script src="./js/directives/directives.js"></script>

  <script src="./js/controllers/controllers.js"></script>
  <script src="./js/controllers/homeController.js"></script>
  <script src="./js/controllers/user/loginController.js"></script>

  <script src="./js/routes.js"></script>
  <script src="./js/app.js"></script>

</body>

</html>
