html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.no-focus:focus {
    outline: none;
}

.red {
  color: red;
}
.grey {
  color: #8c8c8c;
}
.white {
  color: #fff;
}

.orange-bg {
  background-color: #D0711D !important;
}
md-switch.orange.md-checked .md-bar {
  background-color: #ed8a34 !important;
}
md-switch.orange.md-checked .md-thumb {
  background-color: #D0711D !important;
}

.hv-button i {
  opacity: 0.3;
}
.hv-button:hover i {
  opacity: 1;
}
.no-hover:hover {
  background: none !important;
  background-color: none !important;
}


md-grid-tile {
  cursor: pointer;
}
md-grid-tile.no-link {
  cursor: default;
}

md-grid-tile-footer.center {
  text-align: center;
}
md-grid-tile-footer.center figcaption {
  width: 100%;
}
md-grid-tile-footer.center figcaption h3 {
  margin: 0;
}

md-dialog-content.less-vmargins h4 {
  margin-bottom: 0;
}
md-dialog-content.less-vmargins p {
  margin-top: 5px;
}

md-dialog-content {
  padding: 24px;
}

.input-toggle-edit {
  border: none;
  background: transparent;
}
.input-toggle-edit.active {
  background: white;
}

.data-table-row.active {
  height: 70px;
  background-color: #cecece;
}
.data-table-row.active:hover {
  background-color: #cecece !important;
}

.item {
  position:relative;
  float:left;
}

md-select.no-bg md-select-value.md-select-value {
  background: none;
}

.full-width md-input-container {
  width: 100%;
}
.form-group.less-vmargins md-input-container {
  margin-top: 6px;
}
span.custom-validation-msg {
  #color: red;
  font-size: 11px;
  margin-top: 10px;
  margin-left: 2px;
}
md-dialog-content {
  padding-bottom: 10px;
  max-width: 380px;
}
md-dialog-actions {
  margin-top: 8px;
}
.bold {
  font-weight: bold;
}

.spacer-10 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.spacer-30 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.clickable {
  cursor: pointer;
}

.fit-to-checkbox {
  margin-left: -2px;
}


/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}
md-toolbar h1 {
  margin: auto;
}


/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
md-list .md-button.selected {
  color: #03a9f4;
}
md-sidenav md-list {
  padding: 0px 0px 8px 0px;
}

/* Primary content area */

#content-wrapper {
  overflow: scroll;
}

#content {
  overflow: hidden;
}
#content {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
}
#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}
#content md-icon.avatar {
  margin-top: 10px;
}
#content .md-button.contact > md-icon {
  fill: black;
  width: 36px;
  height: 36px;
}
md-button.menuBtn > md-icon {
  fill: white;
  width: 24px;
  height: 24px;
}
#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding: 4px;
  transition: all 100ms ease-out 30ms;
}
#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}
md-toolbar img.logo {
  width: 40%;
  margin: auto;
  display: block;
}
.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom: 0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform: scale(0.70);
  padding-left: 19px;
  padding-top: 17px;
  fill: white;
  background-color: #467fd3;
}
.md-fab-detail ng-md-icon {
  margin-left: -17px;
  margin-top: -19px;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  height: 24px;
  width: 24px;
}
.md-fab-list ng-md-icon {
  margin-left: 6px;
  margin-top: -10px;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  height: 30px;
  width: 30px;
}
.md-fab-index-create ng-md-icon {
  margin-left: -19px;
  margin-top: -15px;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  height: 30px;
  width: 30px;
}
.md-fab-index-logout ng-md-icon {
  margin-left: -5px;
  margin-top: -15px;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  height: 30px;
  width: 30px;
}
.md-fab-user ng-md-icon {
  margin-left: 6px;
  margin-top: -14px;
  background-repeat: no-repeat no-repeat;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  height: 30px;
  width: 30px;
}
.md-fab.md-tertiary {
  background-color: #467fd3;
}
.md-button.detail {
  width: 70px;
  height: 70px;
  margin: 15px 15px 15px 15px;
}
.md-button.edit {
  width: 70px;
  height: 70px;
  margin: 15px 15px 15px 15px;
  transform: rotate(180deg);
}
md-bottom-sheet md-icon {
  margin-right: 20px;
}
md-list-item.md-past-true {
  color: rgba(166, 166, 166, 0.54);
}
.Tab {
  font-size: 17px;
}
.number {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.Att {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}
span.name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px;
}

.floating-add {
  position: fixed;
  bottom: 10%;
  right: 10%;
}

md-grid-list md-grid-tile md-grid-tile-header h3, md-grid-list md-grid-tile md-grid-tile-footer h3 {
  font-size: 16px; }



/********** SPACE LIST ***********/
.space-apps-grid md-grid-tile img, .space-instances-grid md-grid-tile img {
  height: 50%;
  padding-bottom: 45px;
}



/********** SERVICE INSTANCES ***********/

.single-instance {
  width:350px;
}
.single-instance md-card img {
  height: 50%;
  padding-bottom: 45px;
}
.single-instance img {
  height:50px;
  max-height: 80%;
  padding:30px;
  width: auto;
  margin-left:auto;
  margin-right:auto;
}
.single-instance md-card-content {
  background-color: #fff;
}
.single-instance md-card-content h1.md-title {
  font-size: 30px;
  color: #444;
  margin-top: 0;
  margin-bottom: 0;
}
.single-instance .instance-bindings {
  padding:0 16px;
}
.single-instance .instance-more {
  margin-top: 14px;
}

.single-instance .tag-list {
  padding-left: 10px;
  opacity: .8;
}

/* rename single-title */
.imposing-title {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: #BBB;
    margin: -10px;
}
